/* Language Css */





.form__msg-error {
    background-color: #f54251;
    background-color: var(--color-error);
    color: #fff;
    color: var(--color-white);
    font-size: .83333em;
    font-size: var(--text-sm);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: .5rem;
    padding: var(--space-xs);
    margin-top: .75rem;
    margin-top: var(--space-sm);
    border-radius: .25em;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px)
  }
  
  .form__msg-error::before {
    content: '';
    position: absolute;
    left: .75rem;
    left: var(--space-sm);
    top: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom-color: #f54251;
    border-bottom-color: var(--color-error)
  }
  
  .form__msg-error--is-visible {
    position: relative;
    clip: auto
  }
  
  .radio-list>*,
  .checkbox-list>* {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-bottom: .375rem;
    margin-bottom: var(--space-xxs)
  }
  
  .radio-list>*:last-of-type,
  .checkbox-list>*:last-of-type {
    margin-bottom: 0
  }
  
  .radio-list label,
  .checkbox-list label {
    line-height: 1.4;
    line-height: var(--body-line-height);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
  }
  
  .radio-list input,
  .checkbox-list input {
    vertical-align: top;
    margin-right: .25rem;
    margin-right: var(--space-xxxs);
    -ms-flex-negative: 0;
    flex-shrink: 0
  }
  
  .radio-list.radio-list--inline,
  .radio-list.checkbox-list--inline,
  .checkbox-list.radio-list--inline,
  .checkbox-list.checkbox-list--inline {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: -1.25rem;
    margin-bottom: calc(-1*var(--space-md))
  }
  
  .radio-list.radio-list--inline>*,
  .radio-list.checkbox-list--inline>*,
  .checkbox-list.radio-list--inline>*,
  .checkbox-list.checkbox-list--inline>* {
    margin: 0 1.25rem 1.25rem 0;
    margin: 0 var(--space-md) var(--space-md) 0
  }
  
  
  
  .is-visible {
    display: block!important;
    display: var(--display)!important
  }
  
  .is-hidden {
    display: none!important
  }
  
  .sr-only {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    overflow: hidden;
    padding: 0;
    border: 0;
    white-space: nowrap
  }
  
  .cd-demo-container {
    width: calc(100% - 2.5rem);
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem 0;
    max-width: 64rem
  }
  
  .cd-demo-container--xxxs {
    max-width: 20rem
  }
  
  .cd-demo-container--xxs {
    max-width: 30rem
  }
  
  .cd-demo-container--xs {
    max-width: 37.5rem
  }
  
  .cd-demo-container--sm {
    max-width: 45rem
  }
  
  .cd-demo-container--lg {
    max-width: 80rem
  }
  
  .cd-demo-container--full-width {
    width: 100%;
    max-width: none
  }
  
  .cd-demo--padding-xl {
    padding: 2rem 0
  }
  
  .cd-demo--padding-xxl {
    padding: 3.25rem 0
  }
  
  .cd-demo-container--center-x {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center
  }
  
  @media(min-width:64rem) {
    .cd-demo--padding-xl {
        padding: 3.25rem 0
    }
    .cd-demo--padding-xxl {
        padding: 5.25rem 0
    }
  }
  
  .cd-demo-container--is-hidden {
    display: none
  }
  
  .cd-demo-font {
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif!important
  }
  
  .cd-demo-item--is-hidden {
    display: none
  }
  
  .cd-demo-item--selected {
    -webkit-animation: demoItemSelected .5s;
    animation: demoItemSelected .5s
  }
  
  @-webkit-keyframes demoItemSelected {
    0%,
    50% {
        outline: 2px solid #2a6df4;
        outline: 2px solid var(--color-primary)
    }
    100% {
        outline: 2px solid transparent
    }
  }
  
  @keyframes demoItemSelected {
    0%,
    50% {
        outline: 2px solid #2a6df4;
        outline: 2px solid var(--color-primary)
    }
    100% {
        outline: 2px solid transparent
    }
  }
  
  .cd-demo__title {
    font-size: 1.2rem;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif!important;
    margin-bottom: .75rem;
    color: #1c1c21;
    color: var(--color-contrast-higher)
  }
  
  .cd-demo-divider {
    height: 1px;
    background-color: #d3d3d4;
    background-color: var(--color-contrast-low);
    margin: 1.25rem 0
  }
  
  .cd-demo-switch {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center
  }
  
  .cd-demo-switch__inner {
    display: -ms-flexbox;
    display: flex
  }
  
  .cd-demo-switch__inner button {
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: inherit;
    line-height: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: .875rem;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: .25rem .375rem;
    border: 1px solid #d3d3d4;
    border: 1px solid var(--color-contrast-low);
    color: #1c1c21;
    color: var(--color-contrast-higher)
  }
  
  .cd-demo-switch__inner button:focus {
    outline: 2px solid #1c1c21;
    outline: 2px solid var(--color-contrast-higher);
    outline-offset: 2px;
    position: relative;
    z-index: 1
  }
  
  .cd-demo-switch__inner button:first-child {
    border-right: none;
    border-radius: 3px 0 0 3px
  }
  
  .cd-demo-switch__inner button:last-child {
    border-left: none;
    border-radius: 0 3px 3px 0
  }
  
  .cd-demo-switch__inner button.is-selected {
    background-color: #1c1c21;
    background-color: var(--color-contrast-higher);
    color: #fff;
    color: var(--color-bg);
    border-color: #1c1c21;
    border-color: var(--color-contrast-higher)
  }
  
  .cd-demo__viewport-size {
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    padding: 10px;
    z-index: 99;
    font-size: .8rem;
    background-color: rgba(255, 255, 255, .92);
    color: rgba(0, 0, 0, .85);
    font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif!important
  }
  
  
  .language-picker {
    display: inline-block;
    position: relative
  }
  
  .js .language-picker__form {
    display: none
  }
  
  .language-picker__button .icon {
    height: 16px;
    width: 16px;
    margin-left: .25rem;
    margin-left: var(--space-xxxs)
  }
  
  .language-picker__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 200px;
    background-color: #fff;
    background-color: var(--color-bg);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 1px 8px rgba(0, 0, 0, .1);
    box-shadow: var(--shadow-sm);
    padding: .375rem 0;
    padding: var(--space-xxs) 0;
    border-radius: .25em;
    z-index: 4;
    z-index: var(--zindex-popover);
    --space-unit: 1rem;
    --component-padding: 1.25rem;
    --component-padding: var(--space-md);
    font-size: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .2s, opacity .2s, -webkit-transform .2s ease-out;
    transition: visibility 0s .2s, opacity .2s, transform .2s ease-out;
    transition: visibility 0s .2s, opacity .2s, transform .2s ease-out, -webkit-transform .2s ease-out
  }
  
  .language-picker__button[aria-expanded=true]+.language-picker__dropdown {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(4px);
    -ms-transform: translateY(4px);
    transform: translateY(4px);
    transition: opacity .2s, -webkit-transform .2s ease-out;
    transition: opacity .2s, transform .2s ease-out;
    transition: opacity .2s, transform .2s ease-out, -webkit-transform .2s ease-out
  }
  
  .language-picker__item {
    text-decoration: none;
    padding: .5em 2em .5em 1.25em;
    padding: var(--space-xs) var(--space-lg) var(--space-xs) var(--space-md);
    color: #313135;
    color: var(--color-contrast-high)
  }
  
  .language-picker__item span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
  }
  
  .language-picker__item:hover {
    background-color: #f2f2f2;
    background-color: var(--color-contrast-lower)
  }
  
  .language-picker__item[aria-selected=true] {
    position: relative;
    background-color: #2a6df4;
    background-color: var(--color-primary);
    color: #fff;
    color: var(--color-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
  }
  
  .language-picker__item[aria-selected=true]::after {
    content: '';
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 16px;
    width: 16px;
    right: .75rem;
    right: var(--space-sm);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAxNiAxNic+PHBvbHlsaW5lIHN0cm9rZS13aWR0aD0nMScgc3Ryb2tlPScjZmZmZmZmJyBmaWxsPSdub25lJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHBvaW50cz0nMSw5IDUsMTMgMTUsMyAnLz48L3N2Zz4=);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
  }
  
  .language-picker__flag {
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
  }
  
  .language-picker__flag::before {
    display: inline-block;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    content: '';
    height: 16px;
    width: 16px;
    margin-right: .375rem;
    margin-right: var(--space-xxs);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
  }
  
  .language-picker__dropdown .language-picker__flag::before {
    margin-right: .5rem;
    margin-right: var(--space-xs)
  }
  
  .language-picker__flag--deutsch::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA0OCA0OCc+PHBhdGggZD0nTTQ4LDE4SDBWOGMwLTEuMTA1LDAuODk1LTIsMi0yaDQ0YzEuMTA1LDAsMiwwLjg5NSwyLDJWMTh6Jy8+PHJlY3QgeT0nMTgnIGZpbGw9JyNFRTAwMDAnIHdpZHRoPSc0OCcgaGVpZ2h0PScxMicvPjxwYXRoIGZpbGw9JyNGRENGMDAnIGQ9J000OCw0MGMwLDEuMTA1LTAuODk1LDItMiwySDJjLTEuMTA1LDAtMi0wLjg5NS0yLTJWMzBoNDhWNDB6Jy8+PC9zdmc+)
  }
  
  .language-picker__flag--english::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA0OCA0OCc+PHBhdGggZmlsbD0nIzAwMjc4MScgZD0nTTQ2LDZIMkMwLjg5Niw2LDAsNi44OTYsMCw4djMyYzAsMS4xMDQsMC44OTYsMiwyLDJoNDRjMS4xMDQsMCwyLTAuODk2LDItMlY4QzQ4LDYuODk2LDQ3LjEwNCw2LDQ2LDZ6Jy8+PHBhdGggZmlsbD0nI0U2RTZFNicgZD0nTTQ4LDhjMC0xLjEwNC0wLjg5Ni0yLTItMmgtNS4xNjFMMjgsMTUuODc2VjZoLTh2OS44NzZMNy4xNjEsNkgyQzAuODk2LDYsMCw2Ljg5NiwwLDh2Mi41ODZMMTIuMjM5LDIwSDB2OCBoMTIuMjM5TDAsMzcuNDE1VjQwYzAsMS4xMDQsMC44OTYsMiwyLDJoNS4xNjFMMjAsMzIuMTI0VjQyaDh2LTkuODc2TDQwLjgzOSw0Mkg0NmMxLjEwNCwwLDItMC44OTYsMi0ydi0yLjU4NUwzNS43NjEsMjhINDh2LTggSDM1Ljc2MUw0OCwxMC41ODZWOHonLz48cG9seWdvbiBmaWxsPScjRDEwRDI0JyBwb2ludHM9JzQ4LDIyIDI2LDIyIDI2LDYgMjIsNiAyMiwyMiAwLDIyIDAsMjYgMjIsMjYgMjIsNDIgMjYsNDIgMjYsMjYgNDgsMjYgJy8+PHBhdGggZmlsbD0nI0QxMEQyNCcgZD0nTTQ3LjAwMSw2LjMwN0wyOS4yLDIwaDMuMjhMNDgsOC4wNjJWOEM0OCw3LjI2OCw0Ny41ODcsNi42NTYsNDcuMDAxLDYuMzA3eicvPjxwYXRoIGZpbGw9JyNEMTBEMjQnIGQ9J00zMi40OCwyOEgyOS4ybDE3LjgwMSwxMy42OTNDNDcuNTg3LDQxLjM0NCw0OCw0MC43MzIsNDgsNDB2LTAuMDYyTDMyLjQ4LDI4eicvPjxwYXRoIGZpbGw9JyNEMTBEMjQnIGQ9J00xNS41MiwyOEwwLDM5LjkzOFY0MGMwLDAuNzMyLDAuNDEzLDEuMzQ0LDAuOTk5LDEuNjkzTDE4LjgsMjhIMTUuNTJ6Jy8+PHBhdGggZmlsbD0nI0QxMEQyNCcgZD0nTTE1LjUyLDIwaDMuMjhMMC45OTksNi4zMDdDMC40MTMsNi42NTYsMCw3LjI2OCwwLDh2MC4wNjJMMTUuNTIsMjB6Jy8+PC9zdmc+)
  }
  
  .language-picker__flag--francais::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA0OCA0OCc+PHBhdGggZmlsbD0nIzAxMjA5RicgZD0nTTE2LDQySDJjLTEuMTA1LDAtMi0wLjg5NS0yLTJWOGMwLTEuMTA1LDAuODk1LTIsMi0yaDE0VjQyeicvPjxwYXRoIGZpbGw9JyNFRjQyMzQnIGQ9J000OCw0MGMwLDEuMTA1LTAuODk1LDItMiwySDMyVjZoMTRjMS4xMDUsMCwyLDAuODk1LDIsMlY0MHonLz48cmVjdCB4PScxNicgeT0nNicgZmlsbD0nI0U2RTZFNicgd2lkdGg9JzE2JyBoZWlnaHQ9JzM2Jy8+PC9zdmc+)
  }
  
  .language-picker__flag--italiano::before {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA0OCA0OCc+PHBhdGggZmlsbD0nIzAwOTM0NScgZD0nTTE2LDQySDJjLTEuMTA1LDAtMi0wLjg5NS0yLTJWOGMwLTEuMTA1LDAuODk1LTIsMi0yaDE0VjQyeicvPjxwYXRoIGZpbGw9JyNDRjJCMzYnIGQ9J000OCw0MGMwLDEuMTA1LTAuODk1LDItMiwySDMyVjZoMTRjMS4xMDUsMCwyLDAuODk1LDIsMlY0MHonLz48cmVjdCB4PScxNicgeT0nNicgZmlsbD0nI0U2RTZFNicgd2lkdGg9JzE2JyBoZWlnaHQ9JzM2Jy8+PC9zdmc+)
  }
  
  .language-picker--hide-label .language-picker__button .icon {
    margin-left: 0
  }
  
  .language-picker--hide-label .language-picker__button em {
    display: none
  }
  
  .language-picker--hide-label .language-picker__button .language-picker__flag::before {
    margin-right: .25rem;
    margin-right: var(--space-xxxs)
  }