@media (max-width: 1600px) {
  body, html{
    overflow-x: hidden;
  }
  .cover-template:before {
    height: 60vh;
}
}
@media (max-width: 1540px) {
  
}
@media (max-width: 1500px) {
 
}
@media (max-width: 1440px) {
  .container {
    max-width: 1320px;
    width: 100%;
  }
  .chatBot {
    right: 0;
  }
  h1.blog-tab-hd {
    font-size: 50px;
  }
}
@media (max-width:1414px){
  section.career-sec::before {
    top: -200px;
}
}
@media (max-width: 1400px) {
 
}
@media (max-width: 1366px) {
  .fields-row {
  gap: 10px !important;
}
  
}
@media (max-width: 1280px) {
  .cont-bg-set {
    height: calc(100vh - -40px) !important;
}
  .btns-radios.label-pd-two label {
    padding: 15px 40px !important;
}
  p.step-center-para {
    width: 95%;
}

  h1.blog-tab-hd {
    font-size: 35px;
    line-height: 50px;
}
  .container {
    max-width: 1250px;
}
}
@media (max-width: 1202px) {
  .container {
    max-width: 1140px;
    width: 100%;
}
.banner-hd {
  font-size: 44px;
}
p.banner-para br {
  display: none;
}
.navlist-head li a {
font-size: 13px;
}
span.language-picker__label.language-picker__flag.language-picker__flag--english{
  font-size: 13px;

}

}
@media (max-width: 1024px) {
  section.career-sec::before{
    display: none;
  }
    .feature-box h5 {
            font-size: 17px;
    }
    .feature-box p {
    font-size: 15px;
}
    .language-picker__flag--english::before {
    margin-right: 10px !important;
}
    .resume-box h4 {
    font-size: 18px;
    line-height: 30.8px;
}
.humber-show {
    margin: 0 19px;
}
li.none-header {
    display: block;
}
li.login-none {
    display: none;
}
.head-width {
    width: 35%;
    margin-right: 21px;
}
a.fill-btn {
    padding: 10px 20px;
}
.step-box h3 {
    font-size: 17px;
    line-height: 25px;
}
  .mobile-humber {
    display: block !important;
    position: fixed;
    left: 0;
    background: #3e94e4;
    width: 30%;
    top: 0;
    height: 100%;
    padding-top: 6rem;
    z-index: 99999;
    overflow-x: hidden;
    transform: translateX(-1000px);
    transition: 0.5s;
  }
  .dropdown-menu.show {
    position: unset !important;
    transform: unset !IMPORTANT;
    width: fit-content;
}
.mobile-menu-open {
  display: block;
}
li.menuclosedbtn-up {
  display: block;
}

.dropdown-menu.show li {
    width: fit-content;
}
button.mobile-menu {
  padding: 8px 10px;
  border: none;
  color: white;
  background: #3e94e4;
  border-radius: 5px;
}
}
@media (max-width: 991px) {
  .mobile-humber {
    width: 40%;
}
}
@media (max-width: 768px) {
  section.platform-sec {
    padding-top: 70px;
}
  .dollar-arwa {
    margin: 0 auto 10px;
  }
section.banner-sec {
    text-align: center;
}
.banner-hd {
    width: 100%;
    margin-bottom: 10px;
}
p.banner-para {
    font-size: 16px;
    width: 98%;
    margin: 0 auto 0;
}
.banner-btns.mt-4 {
    margin: 0 auto 40px;
}
.platform-list-box {
  width: 100%;
}
.platform-textdiv {
  text-align: center;
  margin-top: 20px;
}
.platform-textdiv p {
  font-size: 16px;
}
.resume-box {
  display: grid !IMPORTANT;
  width: 100%;
  padding-bottom: 60px;
}

.head-width {
  width: 100%;
  margin-bottom: 50px;
  padding-left: 20px;
}

a.fill-btn {
  margin-bottom: 40px;
  margin-left: 20px;
}
.job-tab-text h4 {
  font-size: 16px;
  line-height: 23px;
}
.prices-job span {
  font-size: 16px;
}
a.applay-btn {
  font-size: 13px;
}
.copyRight-sec p {
  text-align: center;
}

.copy-right-link {
  float: unset;
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}
.footer-nav li a {
  font-size: 14px;
}
.feature-sec {
  padding: 50px 0;
}
.job-tab-text p {
  font-size: 16px;
}
}

@media (max-width: 767px) {
  section.career-sec::before {
    top: -230px;
    left: -175px;
}
}

@media (max-width: 620px) {
  .mobile-humber {
    width: 50%;
}
}
@media (max-width: 550px) {
  .mobile-humber {
    width: 60%;
}
}
@media (max-width: 520px) {
  .mobile-humber {
    width: 70%;
}
}
@media (max-width: 480px) {
    .job-tabs-box {
    display: grid !important;
}
.language-picker__flag--english::before {
    margin-right: 10px !important;
}
button.language-picker__button.btn.btn--subtle {
    margin-right: 12px;
}
.applybtn {
    margin: 0 auto;
}
    .job-tabs-box {
    padding: 17px 12px;
    justify-content: flex-start !IMPORTANT;
}
.time-div {
    margin: 40px auto 30px;
}
    section.resume-step-sec {
    padding: 0 0 100px 0;
}
    .platform-textdiv h2 {
    font-size: 25px;
    line-height: 36px;
}
    .job-tabs-box {
    padding: 20px 12px;
    align-items: center !important;
}
.navbar-head li {
    margin: 0;
}
a.applay-btn {
    padding: 7px 7px;
}

.moble-set {
    width: 100% !IMPORTANT;
}

    .banner-btns a {
    font-size: 12px;
    padding: 13px 16px;
}
  .mobile-humber {
    width: 60%;
}
.navlist-head li a {
  padding: 6px 19px;
}
.banner-hd {
  font-size: 25px;
  line-height: 37px;
  margin-top: 23px;
}
.banner-btns.mt-4 a {
  display: block;
  margin-bottom: 20px;
}
li.deliver-list {
  display: flex;
}
li.deliver-list i {
  display: flex;
  margin-bottom: 11px;
}
.resume-box h4 {
  font-size: 18px;
  line-height: 28px;
}
.resume-box h4 {
  font-size: 16px;
  line-height: 26px;
}

a.applay-btn {
  margin-top: 11px !IMPORTANT;
}

.para-job {
  margin-bottom: 20px;
}

.tag {
  width: fit-content;
  padding: 0 30px;
}
section.recent-job-sec {
  padding: 0px 0 90px 0;
}
.social-icons {
  width: fit-content !important;
  float: unset !important;
  margin: 20px auto !important;
}
.copyRight-sec p {
    font-size: 13px;
}
.chatBot {

    bottom: 90px;
}
footer.footer-bg {
  background: linear-gradient(180deg, white 180px, #3a3a3a 50px);
}
}
@media (max-width: 414px) {
  .mobile-humber {
    width: 80%;
}
header.main-header .width-content {
  width: 224px;
}
img.img-fluid.header-logo {
  width: 100%;
}
}
@media (max-width: 390px) {
  .mobile-humber {
    width: 100%;
}
.job-tabs-box{
    flex-wrap: wrap;
    align-items: end !IMPORTANT;
}

.job-tabs-box {
    padding: 17px 12px;
}
.sec-hd {
    font-size: 30px;
    line-height: 29px;
}
.job-textarea p {
    font-size: 15px;
    margin-bottom: 40px;
}
.feature-box p {
    font-size: 15px;
    line-height: 25px;
}
h1.step-resume {
    font-size: 27px;
    line-height: 40px;
}
.deliver-textarea h4 {
    font-size: 29px;
    line-height: 42px;
}
}
@media (max-width: 375px) {
  
}
@media (max-width: 360px) {
  
}
@media (max-width: 320px) {
 
}
