@media (max-width: 1600px) {
  body, html{
    overflow-x: hidden;
  }
}
@media (max-width: 1540px) {
  
}
@media (max-width: 1500px) {
 
}
@media (max-width: 1440px) {
  .container {
    max-width: 1320px;
    width: 100%;
}
.chatBot {
  right: 0;
}
}
@media (max-width: 1400px) {
 
}
@media (max-width: 1366px) {
  
}
@media (max-width: 1280px) {
  
}
@media (max-width: 1202px) {
  .container {
    max-width: 1140px;
    width: 100%;
}
.banner-hd {
  font-size: 44px;
}
p.banner-para br {
  display: none;
}
.navlist-head li a {
font-size: 13px;
}
span.language-picker__label.language-picker__flag.language-picker__flag--english{
  font-size: 13px;

}

}
@media (max-width: 1024px) {
  .mobile-humber {
    display: block !important;
    position: fixed;
    left: 0;
    background: #3e94e4;
    width: 30%;
    top: 0;
    height: 100%;
    padding-top: 6rem;
    z-index: 99999;
    overflow-x: hidden;
    transform: translateX(-1000px);
    transition: 0.5s;
  }
  .dropdown-menu.show {
    position: unset !important;
    transform: unset !IMPORTANT;
    width: fit-content;
}
.mobile-menu-open {
  display: block;
}
li.menuclosedbtn-up {
  display: block;
}

.dropdown-menu.show li {
    width: fit-content;
}
button.mobile-menu {
  padding: 8px 10px;
  border: none;
  color: white;
  background: #3e94e4;
  border-radius: 5px;
}
}
@media (max-width: 991px) {
  .mobile-humber {
    width: 40%;
}
}
@media (max-width: 768px) {
  section.platform-sec {
    padding-top: 70px;
}
  .dollar-arwa {
    margin: 0 auto 10px;
  }
section.banner-sec {
    text-align: center;
}
.banner-hd {
    width: 100%;
    margin-bottom: 10px;
}
p.banner-para {
    font-size: 16px;
    width: 88%;
    margin: 0 auto 0;
}
.banner-btns.mt-4 {
    margin: 0 auto 40px;
}
.platform-list-box {
  width: 100%;
}
.platform-textdiv {
  text-align: center;
  margin-top: 20px;
}
.platform-textdiv p {
  font-size: 16px;
}
.resume-box {
  display: grid !IMPORTANT;
  width: 100%;
  padding-bottom: 60px;
}

.head-width {
  width: 100%;
  margin-bottom: 50px;
  padding-left: 20px;
}

a.fill-btn {
  margin-bottom: 40px;
  margin-left: 20px;
}
.job-tab-text h4 {
  font-size: 16px;
  line-height: 23px;
}
.prices-job span {
  font-size: 16px;
}
a.applay-btn {
  font-size: 13px;
}
.copyRight-sec p {
  text-align: center;
}

.copy-right-link {
  float: unset;
  text-align: center;
  margin: 0 auto;
  width: fit-content;
}
.footer-nav li a {
  font-size: 14px;
}
.feature-sec {
  padding: 50px 0;
}
.job-tab-text p {
  font-size: 16px;
}
}

@media (max-width: 769px) {
  img.img-fluid.header-logo {
    width: 55%;
}
}

@media (max-width: 620px) {
  .mobile-humber {
    width: 50%;
}
}
@media (max-width: 550px) {
  .mobile-humber {
    width: 60%;
}
}
@media (max-width: 520px) {
  .mobile-humber {
    width: 70%;
}
}
@media (max-width: 480px) {
  .mobile-humber {
    width: 60%;
}
}
@media (max-width: 414px) {
  .mobile-humber {
    width: 80%;
}
}
@media (max-width: 390px) {
  .mobile-humber {
    width: 100%;
}
}
@media (max-width: 375px) {
  
}
@media (max-width: 360px) {
  
}
@media (max-width: 320px) {
 
}
