/* Login Page Header */

.login .logo-text {
    color: #000;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px;
    text-decoration: none;
  }

  .user-icons.float-end a {
    font-size: 25px;
    color: #3E94E4;
  }
  .header-login {
    padding-top: 2rem;
  }
  
  

  /* Singup Form */
  
  
  section.sign-up-apge {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100vh - 199px);
    justify-content: center;
  }
  .hd-singup {
    color: #000;
    font-family: 'Poppins';
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 63px; /* 175% */
    letter-spacing: 1.8px;
    margin-bottom: 25px;
  }
  .login-text h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px; /* 131.25% */
    letter-spacing: 0.96px;
    text-transform: capitalize;
    margin-bottom: 22px;
  }
  
  .login-text p {
    color: #EAEAEA;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
  }
  
  .ghost {
    color: #3E94E4;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 206.25% */
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 6px 58.28px 6px 59.72px;
    border-radius: 5px;
    border: 1px solid #3E94E4;
    background: #FFF;
  }
  button:active {
    transform: scale(0.95);
  }
  
  button:focus {
    outline: none;
  }
  
  form {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  
  input {
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
    outline: none;
    font-size: 14px;
    font-family: Poppins;
    border-radius: 5px;
    background: #EAEAEA;
  }
  
  .form-container-area {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 920px;
    max-width: 100%;
    min-height: 550px;
    margin: 0 auto;
  }
  
  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  
  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }
  
  .form-container-area.right-panel-active .sign-in-container {
    transform: translateX(100%);
  }
  
  .sign-up-container {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
  }
  
  .form-container-area.right-panel-active .sign-up-container {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
  }
  
  @keyframes show {
    0%,
    49.99% {
      opacity: 0;
      z-index: 1;
    }
  
    50%,
    100% {
      opacity: 1;
      z-index: 5;
    }
  }
  
  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  
  .form-container-area.right-panel-active .overlay-container {
    transform: translateX(-100%);
  }
  
  .overlay {
  
    background: #3e94e4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .form-container-area.right-panel-active .overlay {
    transform: translateX(50%);
  }
  
  .overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay-left {
    transform: translateX(-20%);
  }
  
  .form-container-area.right-panel-active .overlay-left {
    transform: translateX(0);
  }
  
  .overlay-right {
    right: 0;
    transform: translateX(0);
  }
  
  .form-container-area.right-panel-active .overlay-right {
    transform: translateX(20%);
  }
  
  .social-container {
    margin: 20px 0;
  }
  h1.creat-sinup-hd {
    color: #000;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 63px; /* 175% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }
  .or-line {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .or-line hr {
    width: 100%;
    background: #D3D3D3;
  }
  
  .or-line span {
    padding: 0 10px;
    color: #D3D3D3;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .social-container a {
    border: 1px solid #dddddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
    color: #959595;
    text-decoration: none;
  }
  a.forget-btn {
    margin: 18px 0 5px 0;
    text-decoration: none;
    color: #3e94e4;
  }
  button.signup-btn {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px; /* 206.25% */
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #FFF;
    background: #3E94E4;
    padding: 6px 53.28px 6px 53.72px;
    margin: 20px 0;
  }
  .mobile-sign-form{
    display: none;
  }
  .footer-sing {
    padding-top: 20px;
    color: #929292;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.5px;
    padding-bottom: 20px;
    border-top: 1px solid #767676;
}


  @media (max-width: 1600px) {
 
  }
  @media (max-width: 1540px) {
    
  }
  @media (max-width: 1500px) {
   
  }
  @media (max-width: 1440px) {
    
  }
  @media (max-width: 1400px) {
   
  }
  @media (max-width: 1366px) {
    
  }
  @media (max-width: 1280px) {
    
  }
  @media (max-width: 1202px) {
   
  }
  @media (max-width: 1024px) {
      .hd-singup {
          font-size: 30px;
          line-height: 56px;
          margin-bottom: 18px;
      }
  }
  @media (max-width: 991px) {
      .hd-singup {
          font-size: 24px;
          line-height: 50px;
          margin-bottom: 15px;
      }
      .login .logo-text {
          font-size: 28px;
          line-height: 38px;
      }
      h1.creat-sinup-hd {
          font-size: 28px;
          line-height: 53px;
      }
      .login-text h1 {
          font-size: 28px;
          margin-bottom: 0;
      }
      .login-text p {
          font-size: 15px;
      }
  }
  @media (max-width: 768px) {
  
  }
  
  @media (max-width: 767px) {
      .sign-up-apge {
          display: none !important;
      }
   
      .login .logo-text {
          font-size: 21px;
          line-height: 34px;
      }
      .hd-singup {
          font-size: 24px;
          line-height: 36px;
          margin-bottom: 15px;
          margin-top: 30px;
      }
      .mobile-sign-form{
          display: block;
        }
        
  }
  
  @media (max-width: 620px) {
   
  }
  @media (max-width: 550px) {
   
  }
  @media (max-width: 520px) {
    
  }
  @media (max-width: 480px) {
    
  }
  @media (max-width: 414px) {
    
  }
  @media (max-width: 390px) {
   
  }
  @media (max-width: 375px) {
    
  }
  @media (max-width: 360px) {
    
  }
  @media (max-width: 320px) {
   
  }
  