@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.login {
  width: 240px;
}
.header-login {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.cont-bg-set {
  background: #f3f8ff;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  margin: 0 26px;
  border-radius: 20px;
  padding: 40px 10px;
}

.cont-bg-set {
  background: #f3f8ff;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 0px);
  margin: 0 26px;
  border-radius: 20px;
  padding: 40px 10px;
}
.step-hd {
  color: #2b2d2f;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 1.1px;
}

.btns-radios {
  position: relative;
}
.recom-label {
  position: absolute;
  z-index: 9999999;
  background-color: black;
  color: white;
  padding: 10px;
  top: 0;
  left: 0;
  font-size: 14px;
  border-radius: 16px 0px;
  font-family: "Inter", sans-serif;
}
.btns-radios input#upload-resume {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 13px;
  z-index: -9;
}

.btns-radios label {
  cursor: pointer;
  position: relative;
  border-radius: 13px;
  padding: 40px 30px;
  color: #2b2d2f;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.17px;
  border: 1px solid #d3d9de;
  background: white;
}

.btns-radios label p {
  color: #2b2d2f;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.16px;
  margin-top: 15px;
}
.btns-radios input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.btns-radios input:checked ~ label {
  background: white;
  border-color: black;
  box-shadow: 0px 4px 10.8px 0px rgba(0, 0, 0, 0.25);
}

p.img-path-name {
  position: absolute;
  bottom: 7px;
}

p.step-center-para {
  color: #2b2d2f;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.16px;
}

p.step-center-para a {
  color: #2b2d2f;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.16px;
  text-decoration-line: underline;
}

.btm-large-img {
  margin-top: 100px;
}

.btns-radios.label-pd-two label {
  padding: 23px 50px;
  border-radius: 10px;
}
.tabs .fields-row {
  gap: 40px;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
}
.fields-row {
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
  margin: 24px auto 20px;
}
.mgr-set {
  margin: 40px auto;
  width: fit-content;
}

.mgr-set input {
  border-radius: 12px;
  border: 1px solid #d3d9de;
  background: #fff;
  display: inline-flex;
  padding: 8px 81px 11px 12px;
  align-items: center;
  color: #b5b5b5;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.17px;
  outline: none;
}

.banner-btns button {
  color: white;
  background: #3e94e4;
  text-align: center;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 13px 30px;
  text-decoration: none;
  border: 1px solid #007bff;
  margin-right: 30px;
  border-radius: 5px;
  transition: 0.5s;
}
.banner-btns.cover-bnr-btn {
  width: fit-content;
  margin: 0 auto;
}
